<h4>Add Your Todo</h4>
<div class="my-3">
<form (ngSubmit)="onSubmit()" >
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" name= "title" [(ngModel)]="title" id="title" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="desc" class="form-label">Todo Description</label>
        <input type="text" class="form-control" id="desc" name="desc" [(ngModel)]="desc">
    </div>
    <button type="submit" class="btn btn-primary btn-sm">Add Todo</button>
</form>
</div>
